
@media screen and (min-width: 320px) and (max-width: 767px) {
    header{
        .header{
            display: flex;
            flex-direction: column;
            background-color: #323232;
            padding-top: 24px;
            .header_title{
                display: flex;
                justify-content: center;
                .header_title_name{
                    width: 120px;
                    height: 20px;
                }
            }
            .header_nav{
                display:flex;
                justify-content: space-evenly;
                .header_nav-biography{
                    font-size: 14px;
                    font-weight: 400;
                    color: #ffffffff;
                }
                .header_nav-shows{
                    font-size: 14px;
                    font-weight: 400;
                    color: #ffffffff;
                }
            }
        }
        
    }
    main{
        .menu{
            position: relative;
            background-image: url("../assets/Images/hero-bio.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
            width: 100%;
            padding-top: 66.66%;
            resize: both;
            .menu_section{
                position: absolute;
                top: 50%;
                width: 100%;
                height: 100%;
                background-color: hsla(0, 0%, 20%, 0.5);
                transform: translate(0%, -50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                .menu_section_title{
                    padding-left: 16px;
                    .menu_section_title_value{
                        font-size: 24px;
                        font-weight: 700;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .content{
            .content_box{
                margin-left: 16px;
                margin-right: 16px;
                .content_box_about_title{
                    margin: 0;
                    font-size: 24px;
                    font-weight: 700;
                    color: #000000;
                    padding-top: 24px;
                }
                .content_box_about{

                    .content_box_about_picture{
                        margin: 0;
                        width:100%;
                        height:auto;
                        padding-top:16px;
                    }
                    .content_box_about_quote{
                        margin: 0;
                        font-size: 14px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 22px;
                    }
                    .content_box_about_quote-author{
                        margin: 0;
                        font-size: 14px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 22px;                    }
                    .content_box_about_section{
                        margin: 0;
                        font-size: 14px;
                        font-weight: 500;
                        color: #000000;
                        line-height: 22px;                        
                        padding-top: 24px;
                    }
                    .content_box_about_paragraphs{
                        
                        .content_box_about_paragraphs_left{
                            margin: 0;
                            font-size: 13px;
                            font-weight: 400;
                            color: #000000;
                            padding-top:16px;
                            line-height: 18px;
                        }
                        .content_box_about_paragraphs_right{
                            margin: 0;
                            font-size: 13px;
                            font-weight: 400;
                            color: #000000;
                            padding-top:16px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1279px){
    header{
        .header{
            display: flex;
            flex-direction: row;
            background-color: #323232;
            padding-left: 36px;
            gap: 48px;
            .header_title{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-content: center; 
                .header_title_name{
                    width: 120px;
                    height: 20px;
                }
            }
            .header_nav{
                gap: 48px;
                display:flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-content: center; 
                .header_nav-biography{
                    font-size: 14px;
                    font-weight: 400;
                    color: #ffffffff;
                }
                .header_nav-shows{
                    font-size: 14px;
                    font-weight: 400;
                    color: #ffffffff;
                }
            }
        }

 
    }
    main{
        .menu{
            position: relative;
            background-image: url("../assets/Images/hero-bio.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
            width: 100%;
            padding-top: 66.66%;
            resize: both;
            .menu_section{
                position: absolute;
                top: 50%;
                width: 100%;
                height: 100%;
                transform: translate(0%, -50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: hsla(0, 0%, 20%, 0.5);
                .menu_section_title{
                    padding-left: 36px;
                    .menu_section_title_value{
                        font-size: 68px;
                        font-weight: 700;
                        color: #FFFFFF;
                    }

                }
                
            }
        }
        .content{
            .content_box{
                margin-left: 36px;
                margin-right: 36px;
                .content_box_title{
                    margin: 0;
                    font-size: 48px;
                    font-weight: 700;
                    color: #000000;
                    padding-top: 44px;
                }
                .content_box_about{
                    margin-left: 72px;
                    margin-right: 72px;
                    .content_box_about_picture{
                        margin: 0;
                        width:100%;
                        height:auto;
                        padding-top:36px;
                    }
                    .content_box_about_quote{
                        margin: 0;
                        font-size: 24px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 32px;
                        padding-top: 36px;
                    }
                    .content_box_about_quote-author{
                        margin: 0;
                        font-size: 24px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 32px;    


                    }
                    .content_box_about_section{
                        margin: 0;
                        font-size: 36px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 3px;                        
                        padding-top: 36px;
                    }
                    .content_box_about_paragraphs{
                        padding-top:36px;
                        display:flex;
                        justify-content: flex-start;
                        .content_box_about_paragraphs_left{
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                            color: #000000;
                            line-height: 22px;
                            padding-right: 24px;
                        }
                        .content_box_about_paragraphs_right{
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                            color: #000000;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1280px){
    .gridLength{
        width: 1044px
    }
    header{
        width:100%;
        display:flex;
        justify-content: center;
        background-color: #323232;
        .header{
            display: flex;
            flex-direction: row;
            background-color: #323232;
            gap: 48px;
            padding: auto;
            @extend .gridLength;
            .header_title{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-content: center; 
                .header_title_name{
                    width: 120px;
                    height: 20px;
                }
            }
            .header_nav{
                gap: 48px;
                display:flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-content: center;
                .header_nav-biography{
                    font-size: 14px;
                    font-weight: 400;
                    color: #ffffffff;
                }
                .header_nav-shows{
                    font-size: 14px;
                    font-weight: 400;
                    color: #ffffffff;
                }
            }
        }
        
    }
    main{
        .menu{
            position: relative;
            background-image: url("../assets/Images/hero-bio.jpg");
            background-repeat:no-repeat;
            background-position: top center;
            background-size: cover;
            width: 100%;
            padding-top: 857.6px;
            resize: both;
            .menu_section{
                position: absolute;
                top: 50%;
                width: 100%;
                height: 100%;
                transform: translate(0%, -50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: hsla(0, 0%, 20%, 0.5);
                .menu_section_title{
                    display: flex;
                    justify-content: center;
                    .menu_section_title_value{
                        font-size: 68px;
                        font-weight: 700;
                        color: #FFFFFF;
                        @extend .gridLength;
                    }
                }
            }
        }
        .content{
            display: flex;
            justify-content: center;
            .content_box{
                width: 1044px;
                .content_box_title{
                    margin: 0;
                    font-size: 48px;
                    font-weight: 700;
                    color: #000000;
                    padding-top: 44px;
                }
                .content_box_about{
                    margin-left: 72px;
                    margin-right: 72px;
                    .content_box_about_picture{
                        margin: 0;
                        width:100%;
                        height:auto;
                        padding-top:36px;
                    }
                    .content_box_about_quote{
                        margin: 0;
                        font-size: 24px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 32px;
                        padding-top: 36px;
                    }
                    .content_box_about_quote-author{
                        margin: 0;
                        font-size: 24px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 32px;
                    }
                    .content_box_about_section{
                        margin: 0;
                        font-size:  24px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 32px;                        
                        padding-top: 48px;
                    }
                    .content_box_about_paragraphs{
                        padding-top:36px;
                        display:flex;
                        justify-content: flex-start;
                        .content_box_about_paragraphs_left{
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                            color: #000000;
                            line-height: 22px;
                            padding-right: 24px;
                        }
                        .content_box_about_paragraphs_right{
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                            color: #000000;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}