body {
  font-family: "Nunito Sans";
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header .header {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    padding-top: 24px;
  }
  header .header .header_title {
    display: flex;
    justify-content: center;
  }
  header .header .header_title .header_title_name {
    width: 120px;
    height: 20px;
  }
  header .header .header_nav {
    display: flex;
    justify-content: space-around;
  }
  header .header .header_nav .header_nav_left {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  header .header .header_nav .header_nav_left .header_nav_left_biography {
    margin: 0;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 400;
    color: #AFAFAF;
    width: 100%;
    text-align: center;
  }
  header .header .header_nav .header_nav_left .header_nav_left_biography:hover {
    color: #ffffff;
  }
  header .header .header_nav .header_nav_left .header_nav_left_biography:active {
    font-weight: 700;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    border-style: solid;
    padding: 16px 11px 0;
    border-color: #E1E1E1;
  }
  header .header .header_nav .header_nav_right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header .header .header_nav .header_nav_right .header_nav_right_shows {
    margin: 0;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 400;
    color: #AFAFAF;
    width: 100%;
    text-align: center;
  }
  header .header .header_nav .header_nav_right .header_nav_right_shows:hover {
    color: #ffffff;
  }
  header .header .header_nav .header_nav_right .header_nav_right_shows:active {
    font-weight: 700;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    border-style: solid;
    padding: 16px 11px 0;
    border-color: #E1E1E1;
  }
  main .menu {
    position: relative;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-top: 66.66%;
    resize: both;
  }
  main .menu .menu_section {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(0, 0%, 20%, 0.5);
  }
  main .menu .menu_section .menu_section_title {
    padding: 16px;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text {
    width: 100%;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text .menu_section_title_value_text_album {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0px;
    color: white;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text .menu_section_title_value_text_value1 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0px;
    color: white;
    padding-top: 16px;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text .menu_section_title_value_text_value2 {
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 8px;
    color: white;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value iframe {
    padding-top: 16px;
  }
  main .shows {
    margin: 16px;
    padding: 0px;
    padding-bottom: 16px;
  }
  main .shows .shows_section {
    margin: 0px;
    padding: 0;
  }
  main .shows .shows_section .shows_section_title {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    width: 100%;
    height: auto;
    padding-top: 24px;
  }
  main .shows .shows_section .shows_section_page {
    margin: 0;
    padding: 0;
  }
  footer {
    background-color: #323232;
  }
  footer section {
    margin-left: 16px;
    margin-right: 16px;
  }
  footer section .socials {
    margin: 0;
  }
  footer section .socials .socials_left .socials_left_title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding-top: 24px;
  }
  footer section .socials .socials_left .socials_left_logos {
    display: flex;
    justify-content: flex-start;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo1 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo2 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo3 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .info {
    margin: 0;
  }
  footer section .info .info_management .info_management_title {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  footer section .info .info_management .info_management_address {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  footer section .info .info_management .info_management_address2 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
  }
  footer section .info .info_management .info_management_email {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  footer section .info .info_group .info_group_title {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  footer section .info .info_group .info_group_address {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  footer section .info .info_group .info_group_address2 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
  }
  footer section .info .info_group .info_group_email {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
  }
  footer section .info .info_booking .info_booking_title {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  footer section .info .info_booking .info_booking_address {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  footer section .info .info_booking .info_booking_address2 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
  }
  footer section .info .info_booking .info_booking_email {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  footer section .symbols_logo {
    padding-top: 48px;
  }
  footer section .symbols_copyright {
    padding: 16px 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 16px;
    line-height: 18px;
  }
  button {
    padding: 8px;
    margin: 36px 0px;
    border-style: solid;
    border-color: #323232;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
  }
  button:hover {
    border-color: #000000;
    background-color: #000000;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  header .header {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    padding-left: 36px;
    gap: 48px;
  }
  header .header .header_title {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
  }
  header .header .header_title .header_title_name {
    width: 120px;
    height: 20px;
  }
  header .header .header_nav {
    gap: 48px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
  }
  header .header .header_nav .header_nav_left .header_nav_left_biography {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 32px 0;
    color: #AFAFAF;
  }
  header .header .header_nav .header_nav_left .header_nav_left_biography:hover {
    color: #ffffff;
  }
  header .header .header_nav .header_nav_left .header_nav_left_biography:active {
    font-weight: 700;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    border-style: solid;
    padding: 32px 0 27px 0;
    border-color: #E1E1E1;
  }
  header .header .header_nav .header_nav_right .header_nav_right_shows {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 32px 0;
    color: #AFAFAF;
  }
  header .header .header_nav .header_nav_right .header_nav_right_shows:hover {
    color: #ffffff;
  }
  header .header .header_nav .header_nav_right .header_nav_right_shows:active {
    font-weight: 700;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    border-style: solid;
    padding: 32px 0 27px 0;
    border-color: #E1E1E1;
  }
  main .menu {
    position: relative;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-top: 66.66%;
    resize: both;
  }
  main .menu .menu_section {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(0, 0%, 20%, 0.5);
  }
  main .menu .menu_section .menu_section_title {
    padding: 36px;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text {
    width: 100%;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text .menu_section_title_value_text_value1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    padding-top: 48px;
    color: white;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text .menu_section_title_value_text_value2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    padding-top: 48px;
    padding-top: 16px;
    color: white;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text .menu_section_title_value_text_album {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    line-height: 32px;
    padding-top: 16px;
    color: white;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value iframe {
    padding-top: 72px;
  }
  main .shows {
    margin: 0px;
    padding: 0px 36px;
    padding-bottom: 36px;
  }
  main .shows .shows_section {
    margin: 0px;
    padding: 0;
  }
  main .shows .shows_section .shows_section_title {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    padding-top: 48px;
    padding: 48px 0px;
  }
  main .shows .shows_section .shows_section_page {
    margin: 0;
    padding: 0;
  }
  footer {
    background-color: #323232;
  }
  footer section {
    padding-top: 24px;
    position: relative;
    margin-left: 36px;
    margin-right: 36px;
  }
  footer section .socials {
    margin: 0;
  }
  footer section .socials .socials_left {
    display: flex;
    justify-content: flex-start;
  }
  footer section .socials .socials_left .socials_left_title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    height: auto;
    padding-right: 36px;
  }
  footer section .socials .socials_left .socials_left_logos {
    padding: 12px 0;
    display: flex;
    justify-content: flex-start;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo1 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo2 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo3 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .info {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
  footer section .info .info_management {
    padding-right: 48px;
  }
  footer section .info .info_management .info_management_title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_management .info_management_address {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_management .info_management_address2 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
  }
  footer section .info .info_management .info_management_email {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_group {
    padding-right: 48px;
  }
  footer section .info .info_group .info_group_title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_group .info_group_address {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_group .info_group_address2 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
  }
  footer section .info .info_group .info_group_email {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_booking .info_booking_title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_booking .info_booking_address {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_booking .info_booking_address2 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
  }
  footer section .info .info_booking .info_booking_email {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .symbols_logo {
    position: absolute;
    right: 0;
    top: 60px;
  }
  footer section .symbols_copyright {
    padding: 48px 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
  }
  button {
    padding: 8px;
    border-style: solid;
    border-color: #323232;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
  }
  button:hover {
    border-color: #000000;
    background-color: #000000;
  }
}
@media screen and (min-width: 1280px) {
  .gridLength, header .header {
    width: 1044px;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #323232;
  }
  header .header {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    gap: 48px;
    padding: auto;
  }
  header .header .header_title {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
  }
  header .header .header_title .header_title_name {
    width: 120px;
    height: 20px;
  }
  header .header .header_nav {
    gap: 48px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
  }
  header .header .header_nav .header_nav_left_biography {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 32px 0;
    color: #AFAFAF;
  }
  header .header .header_nav .header_nav_left_biography:hover {
    color: #ffffff;
  }
  header .header .header_nav .header_nav_left_biography:active {
    font-weight: 700;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    border-style: solid;
    padding: 32px 0 27px 0;
    border-color: #E1E1E1;
  }
  header .header .header_nav .header_nav_right_shows {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 32px 0;
    color: #AFAFAF;
  }
  header .header .header_nav .header_nav_right_shows:hover {
    color: #ffffff;
  }
  header .header .header_nav .header_nav_right_shows:active {
    font-weight: 700;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    border-style: solid;
    padding: 32px 0 27px 0;
    border-color: #E1E1E1;
  }
  main .menu {
    position: relative;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    padding-top: 857.6px;
    resize: both;
  }
  main .menu .menu_section {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(0, 0%, 20%, 0.5);
  }
  main .menu .menu_section .menu_section_title {
    display: flex;
    justify-content: center;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value {
    display: flex;
    width: 1044px;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text {
    width: 100%;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text .menu_section_title_value_text_value1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    padding-top: 48px;
    color: white;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value .menu_section_title_value_text .menu_section_title_value_text_value2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    padding-top: 48px;
    padding-top: 16px;
    color: white;
  }
  main .menu .menu_section .menu_section_title .menu_section_title_value iframe {
    padding: 72px;
  }
  main .shows {
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  main .shows .shows_section {
    width: 1044px;
    margin: 0px;
    padding: 48px 0px;
    display: flex;
  }
  main .shows .shows_section .shows_section_title {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    padding-top: 48px;
    padding: 0 48px;
    padding-top: 8px;
  }
  main .shows .shows_section .shows_section_page {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  footer {
    background-color: #323232;
    display: flex;
    justify-content: center;
  }
  footer section {
    padding-top: 24px;
    position: relative;
    width: 1044px;
  }
  footer section .socials {
    margin: 0;
  }
  footer section .socials .socials_left {
    display: flex;
    justify-content: flex-start;
  }
  footer section .socials .socials_left .socials_left_title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    line-height: 32px;
    color: #FFFFFF;
    padding-right: 36px;
  }
  footer section .socials .socials_left .socials_left_logos {
    padding: 12px 0;
    display: flex;
    justify-content: flex-start;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo1 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo2 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .socials .socials_left .socials_left_logos .socials_left_logos_logo3 {
    padding-right: 16px;
    width: auto;
    height: auto;
  }
  footer section .info {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
  footer section .info .info_management {
    padding-right: 48px;
  }
  footer section .info .info_management .info_management_title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
    font-weight: 700;
    padding-top: 24px;
  }
  footer section .info .info_management .info_management_address {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
    padding-top: 24px;
  }
  footer section .info .info_management .info_management_address2 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
  }
  footer section .info .info_management .info_management_email {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_group {
    padding-right: 48px;
  }
  footer section .info .info_group .info_group_title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_group .info_group_address {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_group .info_group_address2 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
  }
  footer section .info .info_group .info_group_email {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_booking .info_booking_title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_booking .info_booking_address {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .info .info_booking .info_booking_address2 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 22px;
  }
  footer section .info .info_booking .info_booking_email {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 24px;
    line-height: 22px;
  }
  footer section .symbols_logo {
    position: absolute;
    right: 0;
    top: 60px;
  }
  footer section .symbols_copyright {
    padding: 48px 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
  }
  button {
    padding: 8px;
    margin: 36px 0px;
    border-style: solid;
    border-color: #323232;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
  }
  button:hover {
    border-color: #000000;
    background-color: #000000;
  }
}/*# sourceMappingURL=shows.css.map */